<configuration> 
  <runtime> 
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly> 
        <assemblyIdentity name="CarLibrary" 
                          publicKeyToken="82D459ACCC2C83BC" 
                          culture="neutral"/> 
		<codeBase version="2.0.0.0" href="file:///C:/MyAsms/CarLibrary.dll" />
      </dependentAssembly> 
    </assemblyBinding> 
  </runtime> 
</configuration>
